.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafaf9;
    color: #333;
    padding: 10px 30px;

    &_brand {
        width: 250px;
        margin-left: 20px;
        padding: 25px 0;
    }
    .navbar_links {
        display: flex;

        .navbar_link {
            font-weight: 700;
            text-transform: uppercase;
            padding-right: 40px;
            .active {
                color: #65b530;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #65b530;
                    -webkit-transition: 0.5s ease;
                    transition: 0.5s ease;
                }
            }
            a {
                color: #333;
                font-size: 17px;
                letter-spacing: 1px;
                position: relative;
                padding: 20px 0;
                transition: 0.5s ease;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: #65b530;
                    -webkit-transition: 0.5s ease;
                    transition: 0.5s ease;
                }
                &:hover::before {
                    width: 100%;
                }
                &:hover {
                    color: #65b530;
                }
            }
        }
    }
    .burger {
        display: none;
        cursor: pointer;
        .line-1,
        .line-2,
        .line-3 {
            width: 24px;
            height: 3px;
            background-color: #333;
        }
        .line-2 {
            margin: 3px 0;
        }
    }
}
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fafaf9;
        color: #333;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;

        &_brand {
            width: 250px;
            margin-left: 20px;
            padding: 25px 0;
        }
        .navbar_links {
            position: fixed;
            top: 8vh;
            right: 0;
            width: 60%;
            height: 92vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: #fafaf9;
            transform: translateX(100%);
            transition: 0.3s;
            z-index: 2;

            .navbar_link {
                opacity: 0;
            }
        }
        .nav-active {
            transform: translateX(0);
            transition: 0.3s;
        }
        .burger {
            display: block;
            cursor: pointer;
            .line-1,
            .line-2,
            .line-3 {
                width: 24px;
                height: 3px;
                background-color: #333;
                transition: 0.3s;
            }
            .line-2 {
                margin: 3px 0;
            }
        }
        .close {
            .line-1 {
                transform: rotate(-45deg) translate(-5px, 3px);
                transition: 0.3s;
            }
            .line-2 {
                opacity: 0;
            }
            .line-3 {
                transform: rotate(45deg) translate(-5px, -3px);
                transition: 0.3s;
            }
        }
    }
}
@keyframes linksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
